@import "tailwindcss";

@layer components {
  .wrapper {
    max-width: 1280px;
    min-width: 300px;
    margin-left: auto;
    margin-right: auto;
  }
}

/* customize swiper pagination styles */

/* active bullet */
span.swiper-pagination-bullet.swiper-pagination-bullet-active {
  background-color: oklch(0.882 0.059 254.128);
  width: 16px;
  border-radius: 100px;
  transition: all 0.3s;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* all bullets */

body {
  color: #020617;
}
